.card {
    width: 30rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: black;
    background-color: #68A7AD;
    text-align: center;
}

@media (max-width: 488px) {
    .card {
      width: 15rem;
      /* Add mobile-specific styles here */
    }
  }
  

.card form {
    display: flex;
    flex-direction: column;
}

.card form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.card form input,
.card form textarea {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.card form button {
    padding: 4px 1rem;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}